body {
    background-color: #e9ecef;
    font-family: times
   
}

/* mx-auto for element without fixed width*/
.c-enter{ 
    text-align: center;
}

/* image resizing */
.title-img img{
    width: 20%
}

@media screen and (max-width: 1242px) {
 .title-img img{
    width: 70%
}
}


.m-sp {
margin-top: 30px;    
}

